fastapi
uvicorn
gradio
langchain-community
huggingface_hub
sentence-transformers # 新增，用於HuggingFaceEmbeddings
faiss-cpu
unstructured
pypdf
python-docx
xlrd
transformers>=4.40.0
torch>=2.1.0
httpx
line-bot-sdk # 新增，用於LINE Bot
